@font-face {
    font-family: "Montserrat Header";
    src: url("../ressources/font/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Text";
    src: url("../ressources/font/Montserrat-Light.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat Header", serif;
    color: black;
}

body {
    font-family: "Montserrat Text", serif;
    font-size: 16px;
    color: black;
    padding: 50px;
    background-color: white;
}


.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid #f9e07f;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    background-color: #baeeff;
}

.header-item {

}

.header-logo {
    display: flex;
    max-width: fit-content;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    padding: 15px;
    background-color: white;
    border-radius: 50px;
    margin: 5px;
}

.search-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #baeeff;
    border: solid #f9e07f;
    border-radius: 20px;
}

.search-form-item {
    margin: 10px
}

.meteo-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meteo-body-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meteo-body-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meteo-body-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    margin: 10px;
}

.btn {
    background-color: #f9e07f;
    color: black;
}
